nav{
  background-color: #2C3E50;
}
.nav-link{
  color: #fff !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  border-radius: 8px;
}
.navbar-nav .nav-link.active{
  background-color: #1ABC9C;
}
.navbar-brand{
  font-weight: 700;
  font-size: 30px !important;
}
.home-img{
  width: 250px;
}
.home{
  background-color: #1ABC9C;
  height: 95vh;
}
.line{
  display: inline-block;
  height: 5px;
  width: 120px;
  background-color: #2C3E50;
}
.main-info .main-text{
  font-weight: 700;
  font-size: 40px;
}
.portfolio{
  color: #2C3E50;
  padding-top: 80px;
}
.layer{
  background-color: #2ab196b6;
  opacity: 0;
  transition: opacity 0.3s;
}
.div:hover .layer{
  opacity: 1;
}
.form-control{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
}
.form-control:focus{
  border-color: #dee2e6 !important;
}
.contact h6{
  color: #1ABC9C;
}
.label{
  top: 40px;
  z-index: -1;
  transition: top 0.2s;
}
.footer{
  background-color: #2C3E50;
}
.web i{
  border: solid 2px white;
  border-radius: 50%;
  padding: 10px;
}
.copyright{
  background-color: #162028;
}
.error{
  height: 95vh;
  padding-top: 120px;
  margin-left: 10px;
}